<dt>What is the Self-organising University</dt>
The idea behind the University is to create a space for people who want to study together.

<dt>Where is the University?</dt>
<dd>We are currently talking to various venues in and around King's Cross in the NW1 and WC1 postcodes of London. We expect to find a home soon.</dd>

<dt>When does the University open?</dt>
<dd>We are going to open in September 2013, initially one night per week from 6pm to 8pm.</dd>

<dt>What does it cost?</dt>
<dd>There is no cost.</dd>

<dt>How do I join?</dt>
<dd>Just "sign up"http://www.meetup.com/selforganising/ and come along.</dd>

<dt>Can I organise my own study groups?</dt>
<dd>Please do. You do not have to ask. Just "schedule a new meetup":http://www.meetup.com/selforganising/.</dd>

<dt>Does the study group have to be for an online course?</dt>
<dd>No. In the spirit of Ivan Illich, we invite anyone "to transform each moment of his [or her] living into one of learning, sharing, and caring.":http://ournature.org/~novembre/illich/1970_deschooling.html</dd>

<dt>How do I get involved in the development of the University?</dt>
<dd>There is a monthly planning meeting that is open to anyone currently attending (or between) course meetups.</dd>

<dt>Who is behind the University?</dt>
<dd>I am Dan Sofer, a bit of a "MOOC":http://en.wikipedia.org/wiki/Massive_open_online_course enthusiast, who hated school and loves learning, especially with other people. I fit a bit of freelance software development in between studies.</dd>

