<dl>
  <dt>What is the Self-organising University</dt>
  <dd>The idea behind the University is to create a space for people who want to study together.</dd>

  <dt>Where is the University?</dt>
  <dd>We are currently looking at various venues in and around King's Cross in London. We expect to find a home soon.</dd>

  <dt>When does the University open?</dt>
  <dd>We are going to open in September 2013, initially one night per week from 6pm to 8pm.</dd>

  <dt>What does it cost?</dt>
  <dd>There is no cost.</dd>

  <dt>How do I join?</dt>
  <dd>Just <a href="http://www.meetup.com/selforganising/London/">join the London meetup</a> and RSVP to a study group.</dd>

  <dt>Can I organise my own study groups?</dt>
  <dd>Please do. You do not have to ask. Just <a href="http://www.meetup.com/selforganising/">schedule a new meetup</a>.</dd>

  <dt>Does the study group have to be for an online course?</dt>
  <dd>No. In the spirit of Ivan Illich, we invite anyone <a href="http://ournature.org/~novembre/illich/1970_deschooling.html" target="_blank"><em>"to transform each moment of his [or her] living into one of learning, sharing, and caring"</em></a></dd>

  <dt>How do I get involved in the development of the University?</dt>
  <dd>There is a monthly planning meeting that is open to anyone currently attending (or between) course meetups.</dd>

  <dt>Who is behind the University?</dt>
  <dd>I am Dan Sofer, a bit of a <a href="http://en.wikipedia.org/wiki/Massive_open_online_course" target="_blank">MOOC</a> enthusiast, who hated school and loves learning, especially with other people. I have been organising a lot of <a href="http://www.meetup.com/Coursera/London-GB/past/" target="_blank">Coursera meetups</a> this year. In between studies, I fit in a bit of freelance software development.</dd>
    
</dl>
