<dl>
  <dt>What is the Self-organising Academy</dt>
  <dd>The idea behind the Academy is to create a space for people who want to study together.</dd>

  <dt>Where is the Academy?</dt>
  <dd>We are currently meeting in the British Library on Euston Road (now open Monday to Thursday until 8pm), although we are looking at other venues. In the past we have tended to meet on the ground floor, but look for us at the long study tables to the side of the restaurant area on the first floor Terrace (in the foreground of <a href="images/bl.jpg">this photo</a>).</dd>

  <dt>When does the Academy open?</dt>
  <dd>It's open. Study dates are already being posted to <a href="http://www.meetup.com/selforganising/London/">our London meetup</a>.</dd>
  <dt>What does it cost?</dt>
  <dd>There is no cost.</dd>

  <dt>How do I join?</dt>
  <dd>Just <a href="http://www.meetup.com/selforganising/London/">join the London meetup</a> and RSVP to a study group.</dd>

  <dt>Can I organise my own study groups?</dt>
  <dd>Please do. You do not have to ask. Just <a href="http://www.meetup.com/selforganising/">schedule a new meetup</a>.</dd>

  <dt>Does the study group have to be for an online course?</dt>
  <dd>No. In the spirit of Ivan Illich, we invite anyone <a href="http://ournature.org/~novembre/illich/1970_deschooling.html" target="_blank"><em>"to transform each moment of his [or her] living into one of learning, sharing, and caring"</em></a></dd>

  <dt>Who is behind the Academy?</dt>
  <dd>I am Dan Sofer. I did not like school, but I love learning. I have been organising a lot of <a href="http://www.meetup.com/Coursera/London-GB/past/" target="_blank">Coursera meetups</a> this year. In between studies, I fit in a bit of freelance software development.</dd>
    
</dl>
